<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.logindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permision.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lauche"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lauche"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SearchNew"></activity>
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.BookEditVerify"
            android:parentActivityName=".activity.ItemsActivity" />
        <activity
            android:name=".activity.EditBookActivity"
            android:parentActivityName=".activity.BookEditVerify" />
        <activity android:name=".activity.PinVerification" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.ItemsActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.PasswordActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.UpdateProfile" />
        <activity android:name=".activity.UploadActivity" /> <!-- <activity android:name=".ChangePassword" /> -->
        <activity android:name=".activity.UpdatePassword" /> <!-- <activity -->
        <!-- android:name=".Buy" -->
        <!-- android:label="@string/title_activity_buy" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity android:name=".activity.Sell" />
    </application>

</manifest>